<h1>Pages#projects</h1>

<div class="container row">
    <div class="card col-3" style="width: 18rem;">
      <%= image_tag 'slider-1.png', class:"card-img-top w-50 p-0" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver Más</a>
      </div>
    </div>
    
    <div class="card col-3" style="width: 18rem;">
      <%= image_tag 'slider-2.png', class:"card-img-top w-50 p-0" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver Más</a>
      </div>
    </div>
    
    <div class="card col-3" style="width: 18rem;">
      <%= image_tag 'slider-3.png', class:"card-img-top w-50 p-0" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver Más</a>
      </div>
    </div>
</div>
